*.secret.nix filter=git-crypt filter=git-crypt diff=git-crypt
secret.nix filter=git-crypt filter=git-crypt diff=git-crypt
*.secret filter=git-crypt diff=git-crypt
secrets/**/* filter=git-crypt diff=git-crypt
